@define-color base #282828;
@define-color foreground #ebdbb2;
@define-color cyan #83a598;
@define-color green #8ec07c;
@define-color orange #fe8019;
@define-color pink #d3869b;
@define-color purple #b16286;
@define-color red #fb4934;
@define-color yellow #fabd2f;
* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: "Symbols Nerd Font",FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-family: "JetBrainsMono NF", FontAwesome, monospace;
  font-size: 9.5px;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  text-shadow:
    /* glow around text */
    0 0 5px rgba(0, 0, 0, 0.9),   
    /* offset shadow */
    1px 1px 2px rgba(0, 0, 0, 0.8), 
    /* strong black drop shadow */
    2px 2px 5px rgba(0, 0, 0, 1); 
}

#window {
  border-radius: 50px;
  padding: 0 15px;
  background: @theme_base_color;
  /* background: shade(alpha(@borders, 0.9), 1.25); */
  color: @theme_text_color;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); */
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.9);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}
/* Highlight the current day in the Waybar calendar */
#clock.calendar.today {
    background-color: #FFD700; /* Gold background */
    color: #000000;            /* Black text */
    border-radius: 6px;        /* Optional: make it rounded */
}
button {
  margin-right: 5px;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  background: @base;
  box-shadow: none;
}
button:hover {
  color: @pink;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
#workspaces button {
  padding: 0 5px;
  margin-right: 1px;
  color: #555555;
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background: @theme_base_color;
  /* background: shade(alpha(@borders, 0.9), 1.25); */
  /* background: rgba(0, 0, 0, 0.1); */
}
#workspaces button.active {
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.5)
  );
  color: #000000;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.35);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#language,
#keyboard-state,
#custom-power {
  padding-left: 15px;
  padding-right: 18px;
  background-color: @base;
  /* border-radius: 100px; */
  border-radius: 50px;
}
#window,
#workspaces {
  margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: @orange;
}

#temperature {
  color: @orange;
}

#battery {
  color: @purple;
}

#battery.charging,
#battery.plugged {
  color: @orange;
}

@keyframes blink {
  to {
    background-color: @base;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* label:focus { */
/*   color: @foreground; */
/* } */

#cpu {
  color: @purple;
}

#memory {
  color: @purple;
}

#disk {
  color: @purple;
}

#backlight {
  color: @yellow;
}

#network {
  color: @pink;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @cyan;
}

#pulseaudio.muted {
  color: @red;
}

#wireplumber {
  color: @cyan;
}

#wireplumber.muted {
  color: @red;
}

#custom-media {
  color: @purple;
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: @purple;
}

#custom-media.custom-vlc {
  color: @purple;
}

#temperature {
  color: @purple;
}

#temperature.critical {
  color: @base;
  background: @red;
  box-shadow: inset 0px 0px 0px 3px @base;
}

#tray {
  color: @foreground;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @base;
}

#tray * {
  background: @base;
}

#idle_inhibitor {
  color: @yellow;
}

#idle_inhibitor.activated {
  background-color: @red;
  box-shadow: inset 0px 0px 0px 3px @base;
  color: @base;
}

#mpd {
  color: @purple;
}

#mpd.disconnected {
  background-color: @red;
  color: @base;
  box-shadow: inset 0px 0px 0px 3px @base;
}

#mpd.stopped {
  color: @red;
}

#mpd.paused {
  color: @yellow;
}

#language {
  color: @orange;
  min-width: 16px;
}

#keyboard-state {
  color: @orange;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  color: @red;
}

#scratchpad {
  color: @yellow;
}

#scratchpad.empty {
  color: @cyan;
}
